*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
     background-color: rgb(4, 4, 87);
     color: white;
     height: 40px;
   

}
.choices{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;

}


 img{
    height: 150px;
    width: 150px;
    padding: 15px;
 }
 .choice:hover{
            opacity: 0.5;
            transition: 0.5s;
            cursor: pointer;
 }
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    margin-top: 20px;
}
#userscore , #compscore{
    font-size: 80px;
    padding: 40px;
}
#msg{
    background-color: rgb(3, 3, 63);
    color: aliceblue;
    height: 50px ;
    font-size: 30px ;
   
    display: inline;
    border-radius: 10px;
    padding: 10px;
}
.msgcont{
    margin-top: 20px;
}